* {
    text-align: center;
    align-items: center;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: #000000;
    color: #FFFFFF;
    padding:0;
    margin:0;
    
}

 header{
    background-image: url(/assets/images/banner.png);
    background-size:cover;
    border-bottom: 1px solid #33A8DB;
}

h1, h2 {
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: overline;
    letter-spacing: 4px;
}

header button {
    background-color: transparent;
    padding: 19px 91px;
    color: #31A8DD;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-image-source: linear-gradient(#33A8DB, #1472B7);
    border-image-slice: 2;
    border-image-outset: 5px 10px;
    margin: 30px 0 60px 0 ;
    background-clip: padding-box border-box;
    cursor: pointer;
}

.module {
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 57px;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    padding: 20px 127px;
    width: 300px;
    height: auto;
}

.modules-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.modules-list span {
    color: #31A8DD;
    font-weight: bold;
}

#transform-world {
    background-image: url('/assets/images/woman-code.png');
    width: auto;
    height: 400px;
    background-size:cover;
    background-attachment: fixed;
    border: 1px solid #33A8DB;
    margin: 70px 0 60px 0 ;
    overflow: auto;
}

#transform-world  p {
    color: #FFFFFF;
    font-size:45px;
    font-weight: 900;
    width: 300px;
    text-align: left;
    text-transform: lowercase;
    margin: 70px 0 70px 100px;
    text-shadow: 3px 3px 1px #33A8DB;
} 

footer {
    background: linear-gradient(#33A8DB00, #33A8DB33);
    border-top:  1px solid #31A8DD;
    padding-bottom: 20px;
}

footer img {
    margin: 20px 0 -10px 0;
} 

footer a {
    text-decoration:none;
    color: #31A8DD;
    font-weight:bold;
}




/* 
nav ul{
    margin:0;
    padding:0;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav li {
    background-color: lightgreen;
    padding: 8px;
    border-radius: 4px;
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

#skills{
    background-color: lightblue;
    border: 1px solid green;
    border-radius: 4px;
}

#skills li{
    list-style: decimal;
}

#education{
    background-color: burlywood;
    border: 1px solid blueviolet;
    border-radius: 4px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width:720px){
    main {
        flex-direction: row;
        gap: 24px;
        max-width: 1200px;
        margin: 16px auto;
        flex-wrap: wrap;
    }

    #presentation{
        flex-basis: 500px;
    }

    #skills, #education {
        flex: 1;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        flex: 1;
        text-align: center;
    }
} */